[data-theme='mytheme'] {
  /* primary */
  --p: 15 95% 62%;
  /* primary focus */
  --pf: 15 88% 60%;
  /* primary content */
  --pc: 0 0% 100%;
  /* secondary */
  --s: 181 63% 39%;
  /* secondary focus */
  --sf: 181 100% 26%;
  /* secondary content */
  --sc: 0 0% 100%;
  /* accent */
  --a: 136 54% 43%;
  /* accent content */
  --ac: 0 0% 100%;
  /* accent focus */
  --af: 136 54% 39%;
  /* info */
  --in: 198 93% 60%;
  /* info content */
  --inc: 198 100% 12%;
  /* success */
  --su: 158 64% 52%;
  /* success content */
  --suc: 158 100% 10%;
  /* warning */
  --wa: 43 96% 56%;
  /* warning content */
  --wac: 43 100% 11%;
  /* error */
  --er: 0 91% 71%;
  /* error content */
  --erc: 0 100% 14%;
  /* neutral */
  --n: 218 18% 12%;
  /* neutral focus */
  --nf: 223 17% 8%;
  /* neutral content */
  --nc: 220 13% 69%;
  /* base 100 */
  --b1: 0 0% 100%;
  /* base 200 */
  --b2: 46 100% 96%;
  /* base 300 */
  --b3: 48 96% 89%;
  /* base content */
  --bc: 345 6% 13%;
  /* other settings */
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: capitalize;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}